.objectives{
  .header{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
    // max-width: 58%;
    h1{
      color: var(--Deep-teal);
      position: relative;
      padding-bottom:24px ;
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80px;
        height: 3.7px;
        background-color: var(--Golden-sand);
      }
    }
    span{
      color: #333;
      font-size: 16px;
      line-height: 1.6;
      text-align: center;
      
    }
  }
  .objective{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .icon-cont {
      width: 60px;
      height: 60px;
      border-radius: 40%;
      background-color: rgba(79, 176, 220, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1px;
      border:1px solid rgba(79, 176, 220, 0.2);
      box-shadow:inset 0 0 0 3px #fff;
      svg {
        font-size: 30px;
        color: #4fb0dc;
      }
    }
    h1{
      font-weight: 500;
      font-size: 18px;
      text-align: start;
    }
    .description{
      font-size: 16px;
      text-align: start;
    }
  }
}
.offset{
  &::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}